body {
  background-color:black;
  color:white;
  font-family: 'Inter', sans-serif;
  margin: 0% 10%;
  padding:0% 2%;
}

.body-container{
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

.opacity-low{
  opacity:50%;
}

.header-title{
  padding: 0 8%;
  display:flex;
}

.header-description-container{
  margin: 2% 0%;
}

.sort-container{
  padding: 1.5rem 0;

}
.sort-button{
  margin-right:16px;
  border: 1px solid white;
  color: white;
}

.card-img-top{
  border-radius:16px;
  background:#000;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  text-decoration:none;
}

.hide{
  display:none;
}

.show{
  display:block;
}